* {
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

#tit{
    width: 20vw;
    height: 8vh;
    font-family: "D2cording";
    font-size: 30px;
    font-weight: bold;
    position: absolute; left: 0vw; top: 0vw;
    color: #8A0808;
    text-align: center;

}
.categorywrap{
    width:80vw;
    height:5vh;
    position: absolute; left: 20vw; top: 0vw;
}


.sidebarwrap{
    width: 20vw;
    height:92vh;
    background-color: rgba(255, 200, 150, .2);
    border-radius: 20px 0 0 20px;
    position: absolute; left: 0vw; bottom: 0vw;
    overflow:scroll;
}



.btn {
    background-color:blue;
    color: white;
    padding: 5px 15px;
    margin: 5px 10px;
    height: 6vh;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px gray;
}

.btn.on{
    background-color: yellow;
    color: blue;
}

#map{
    width:80vw;
    height:92vh;
    border-radius: 0 20px 20px 0;
    position: absolute; left: 20vw; bottom: 0vw;
}

.ovr{
    width: 160;
    height: 90;
    background-color: rgba(255, 255, 255, 0.884);
    text-align: center;
    box-shadow: 0 0 3px;
}
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 3px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
