* {
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}
  
#tit{
    width: 20vw;
    height: 8vh;
    font-family: "D2cording";
    font-size: 30px;
    font-weight: bold;
    position: absolute; left: 0vw; top: 0vw;
    color: #8A0808;
    text-align: center;

}
.categorywrap{
    width:80vw;
    height:5vh;
    position: absolute; left: 20vw; top: 0vw;
}


.sidebarwrap{
    width: 20vw;
    height:92vh;
    background-color: rgba(255, 200, 150, .2);
    border-radius: 20px 0 0 20px;
    position: absolute; left: 0vw; bottom: 0vw;
    overflow:scroll;
}



.btn {
    background-color:blue;
    color: white;
    padding: 5px 15px;
    margin: 5px 10px;
    height: 6vh;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px gray;
}

.btn.on{
    background-color: yellow;
    color: blue;
}

#map{
    width:80vw;
    height:92vh;
    border-radius: 0 20px 20px 0;
    position: absolute; left: 20vw; bottom: 0vw;
}